In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("netflix_reviews.csv")

In [4]:
df.shape

(136904, 8)

In [5]:
df=df.drop(['reviewId', 'userName', 'thumbsUpCount', 'reviewCreatedVersion', 'at', 'appVersion'], axis=1)

In [ ]:
#Handling null values

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136904 entries, 0 to 136903
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   content  136898 non-null  object
 1   score    136904 non-null  int64
dtypes: int64(1), object(1)
memory usage: 2.1+ MB

In [7]:
df.isnull().sum()

content    6
score      0
dtype: int64

In [8]:
df = df.dropna(subset=['content'])

In [9]:
df.isnull().sum()

content    0
score      0
dtype: int64

In [ ]:
#Handling duplicates

In [10]:
df.duplicated().sum()

np.int64(5418)

In [11]:
df = df.drop_duplicates()

In [ ]:
print(df.duplicated().sum())

0

In [ ]:
#Handling wrong datatypes

In [13]:
unique_content=df['content'].map(type).unique()
print(unique_content)

[<class 'str'>]

In [15]:
unique_score=df['score'].map(type).unique()
print(unique_score)

[<class 'int'>]

In [ ]:
#Handling outliers

In [16]:
print(df.describe())

               score
count  131480.000000
mean        2.793033
std         1.711308
min         1.000000
25%         1.000000
50%         3.000000
75%         5.000000
max         5.000000

In [19]:
negative=(df.select_dtypes(include=['number'])<0).any()
print(negative)

score    False
dtype: bool

In [20]:
df.to_csv('cleaned_netflix_reviews.csv', index=False, header=False)